<section class="card">
  <a href="/post/{{id}}">
    <header>{{title}}</header>

    <div class="card-body">
      <img src="/images/{{postings.[0].filename}}" alt="car-image">
      <p>By: {{artist}}</p>
    </div>
  </a>
</section>