<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/media.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>Cars4Any1</title>
</head>
<body>
  <div class="web-header">
    <div class="heading-container">
      <h1><span class="logo"><i class="fa-solid fa-car-burst"></i></span> Cars4Any1</h1>
      <h2>Your best car rental choice in GTA</h2>
    </div>
    <div class="buttons-wrapper">
      <div class="burger">
      <button id="burger-btn" class="burger-btn" id="burger"><i class="fa-solid fa-bars"></i></button>
      <button id="search-btn" class="burger-btn" id="burger"><i class="fa-solid fa-magnifying-glass"></i></button>
      </div>
    <div class="header-btns">
      <button><a href="/login">Log in</a></button>
      <button><a href="/signup">Sign up</a></button>
    </div>
    </div>
  </div>
  {{{body}}}
  <script src="/js/burger.js"></script>
</body>
</html>