<div class="signup-page">
  <div class="signup-form-wrapper">
  <div class="login-form-container">
    <h1>Please login</h1>
    <form>
      <div class="form-control">
        <input id="email-input" type="text" required>
        <label for="email-input">Email</label>
      </div>
      <div class="form-control">
        <input id="password-input" type="password" required>
        <label for="password-input">Password</label>
      </div>
      <button id="signin-button">Login</button>
      <button id="goback">Go back</button>

      <p class="text">Don't have an account? <a href="/signup">Sign up</a></p>
    </form>
  </div>
  <script src="/js/wave-animation.js"></script>
  <script src="/js/login-form.js"></script>
</div>
</div>