
<div class="login-form-wrapper">
  <h4>Please login</h4>
  <form>
    <form>
        <label for="email-input">Email</label><br>
        <input type="text" id="email-input" required><br>
        <label for="password-input">Password</label><br>
        <input type="password" id="password-input" minlength="8" required><br>
        <button id="signin-button" type="submit">Submit</button>
        <p>Don't have an account? <a href="/signup">Sign up</a></p>
      </form>
  </form>
  <script src="/js/login-form.js"></script>
</div>