@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,400&family=Roboto+Condensed:wght@300;400;700&display=swap');

:root {
  --color-brand--1: #ffb545;
  --color-brand--2: #00c46a;
  --color-dark--1: #2d3439;
  --color-dark--2: #42484d;
  --color-light--1: #aaa;
  --color-light--2: #ececec;
  --color-light--3: rgb(214, 222, 224);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.web-header {
  width: 100%;
  min-height: 90px;
  padding: 10px;
  height: 8%;
}

.web-header h1 {
  font-size: 1.2rem;
  font-weight: 500;
}

.web-header h2 {
  font-size: 1rem;
  font-weight: 300;
  font-style: italic;
}

.login-form-wrapper {
  padding: 20px;
}

.signup-form-wrapper {
  padding: 20px;
  margin: 10px 40px;
}

.login-form-container {
  background-color: rgba(18, 20, 22, 0.6);
  padding: 20px;
  border-radius: 10px;
}

.btn:focus {
  outline: 0;
}

.btn:active {
  transform: scale(0.95);
}

.text {
  margin-top: 25px;
}

.login-form-container h1 {
  text-align: center;
  margin-bottom: 30px;
}

.login-form-container a {
  text-decoration: none;
}

.form-control {
  position: relative;
  margin: 20px 0 40px;
  width: 300px;
}

.form-control input {
  background: transparent;
  border: 0;
  border-bottom: 1.8px white solid;
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 14px;
  color: white;
}

.form-control input:focus,
.form-control input:valid {
  outline: 0;
}

.form-control label {
  position: absolute;
  top: 15px;
  left: 0;
}

.form-control label span {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus + label span,
.form-control input:valid + label span {
  transform: translateY(-30px);
}

.form-control input {
  background: transparent;
  border: 0;
  border-bottom: 1.8px white solid;
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 14px;
  color: white;
}

.form-control input:focus,
.form-control input:valid {
  outline: 0;
}

.form-control label {
  position: absolute;
  top: 15px;
  left: 0;
}

.form-control label span {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus + label span,
.form-control input:valid + label span {
  transform: translateY(-30px);
}